Criador: Jan Peter Merkel RM 81896 <br>
Faculdade: FIAP <br>
Grupo: Guardian <br>

# Importando as bibliotecas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# O que a I.A Faz?
A I.A Determina as peças a serem trocadas e o preço médio da revisão de acordo com a Quilometragem obtida na leitura.

# Importando o Dataset

## O Dataset foi criado por nós com base no Manual do Usuário da Ford Ranger.

In [ ]:
data = pd.read_csv('./ford.csv',sep=';')

In [ ]:
data = data.iloc[:30,:]

In [ ]:
data.KM = data.KM*1000

# Verificando o Dataset

## Dicionario de dados:
A coluna **Ranger**: Cada número corresponde a um modelo da Ford Ranger descrito no manual de revisão<br>
Os modelos são respectivamente:
 - Ranger 2.2L
 - Ranger 2.5L
 - Ranger 3.2L

#### **0** - Não precisa trocar a peça
#### **1** - Precisa trocar a peça

Os dados foram obtidos em:
https://www.ford.com.br/servico-ao-cliente/revisao-preco-fixo/ranger/#

In [ ]:
data.head()

   Ranger       KM  ...   filtro_de_ar_do_motor  Valor
0       1  10000.0  ...                       0    999
1       2  10000.0  ...                       0    839
2       3  10000.0  ...                       0   1019
3       1  20000.0  ...                       0    999
4       2  20000.0  ...                       0    839

[5 rows x 8 columns]

# Definindo a variavel dependente e independente

In [ ]:
x = data.iloc[:,:2].values

In [ ]:
y = data.iloc[:,2:].values

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.15)

#Como temos amostras pequenas de dados criaremos um modelo utilizando todas as amostras disponíveis PROPOSITALMENTE, para o modelo seguir
# a tabela de regras da ford de forma rigida

# Importando o Modelo de Árvore de Decisão

In [ ]:
# from sklearn.datasets import make_multilabel_classification
from sklearn.tree import DecisionTreeRegressor
classifier = DecisionTreeRegressor().fit(x,y)

### Definindo o dataset de testes

In [ ]:
y_test = [[1,14000],[2,12000],[3,100000],[1,32000],[2,36000],[3,33000],[1,53000],[2,57000],[3,50000]]
y_pred = classifier.predict(y_test)

# Predição do conjunto de testes para verificar se o modelo está predizendo de acordo com as regras

In [ ]:
print(f'R$ {y_pred[0][-1]}')
print(f'R$ {y_pred[1][-1]}')
print(f'R$ {y_pred[2][-1]}')
print(f'R$ {y_pred[3][-1]}')
print(f'R$ {y_pred[4][-1]}')
print(f'R$ {y_pred[5][-1]}')
print(f'R$ {y_pred[6][-1]}')
print(f'R$ {y_pred[7][-1]}')
print(f'R$ {y_pred[8][-1]}')

R$ 999.0
R$ 839.0
R$ 1119.0
R$ 1359.0
R$ 929.0
R$ 1519.0
R$ 1149.0
R$ 2019.0
R$ 1119.0

# Predição completa do modelo

In [ ]:
y_pred

array([[1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 9.990e+02],
       [1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 8.390e+02],
       [1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.119e+03],
       [1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.359e+03],
       [1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 9.290e+02],
       [1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.519e+03],
       [1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.149e+03],
       [1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 2.019e+03],
       [1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.119e+03]])

In [ ]:
data.columns

Index(['Ranger', 'KM', 'oleo_do_motor', 'filtro_de_oleo_do_motor',
       'filtro_de_combustivel', ' filtro_de_polen_da_caixa_de_ventilacao',
       ' filtro_de_ar_do_motor', 'Valor'],
      dtype='object')

In [ ]:
data.head()

   Ranger       KM  ...   filtro_de_ar_do_motor  Valor
0       1  10000.0  ...                       0    999
1       2  10000.0  ...                       0    839
2       3  10000.0  ...                       0   1019
3       1  20000.0  ...                       0    999
4       2  20000.0  ...                       0    839

[5 rows x 8 columns]

## Salvando o modelo de IA

In [ ]:
import pickle

In [ ]:
with open('model.pkl', 'wb') as model_file:
  pickle.dump(classifier, model_file)